---
title: Default title
---
 
<html>
 
<head>
<title>{{ title }}</title>
<style>
body {
background-color: #ffaa00;
margin: 50px;
}
 
footer {
background-color: #c0c0c0;
padding: 10px;
}
</style>
</head>
 
<body>
 
{{ content }}
 
<footer>
<a href="/">Home</a> | <a href="/cats">Cats</a>
</footer>
</body>
</html>
